/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes selectedPaper {
    0% {}
    100% {
        left: -75%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}
@keyframes selectedPaper {
    0% {}
    100% {
        left: -75%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}
@-webkit-keyframes reversePaper {
    0% {
        left: -75%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        left: 0%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes reversePaper {
    0% {
        left: -75%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        left: 0%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes selectedScissors {
    0% {}
    100% {
        right: 100%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}

@keyframes selectedScissors {
    0% {}
    100% {
        right: 100%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}
@-webkit-keyframes reverseScissors {
    0% {
        right: 100%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        right: 0%;
        top: 0%;
        -webkit-transform: translate(50%, -50%) scale(1);
                transform: translate(50%, -50%) scale(1);
    }
}
@keyframes reverseScissors {
    0% {
        right: 100%;
        top: 25%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        right: 0%;
        top: 0%;
        -webkit-transform: translate(50%, -50%) scale(1);
                transform: translate(50%, -50%) scale(1);
    }
}

@-webkit-keyframes selectedRock {
    0% {}
    100% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}

@keyframes selectedRock {
    0% {}
    100% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
}
@-webkit-keyframes reverseRock {
    0% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        right: 50%;
        bottom: 0%;
        -webkit-transform: translate(50%, 50%) scale(1);
                transform: translate(50%, 50%) scale(1);
    }
}
@keyframes reverseRock {
    0% {
        right: 100%;
        bottom: 0%;
        -webkit-transform: translate(0, 0) scale(1.4);
                transform: translate(0, 0) scale(1.4);
    }
    100% {
        right: 50%;
        bottom: 0%;
        -webkit-transform: translate(50%, 50%) scale(1);
                transform: translate(50%, 50%) scale(1);
    }
}

@media (max-width: 1000px) {
    @-webkit-keyframes selectedPaper {
        0% {}
        100% {
            left: -35%;
            top: 0%;
            -webkit-transform: translate(0, -100%);
                    transform: translate(0, -100%);
        }
    }
    @keyframes selectedPaper {
        0% {}
        100% {
            left: -35%;
            top: 0%;
            -webkit-transform: translate(0, -100%);
                    transform: translate(0, -100%);
        }
    }
    
    @-webkit-keyframes selectedScissors {
        0% {}
        100% {
            right: 70%;
            top: 0%;
            -webkit-transform: translate(0, -100%);
                    transform: translate(0, -100%);
        }
    }
    
    @keyframes selectedScissors {
        0% {}
        100% {
            right: 70%;
            top: 0%;
            -webkit-transform: translate(0, -100%);
                    transform: translate(0, -100%);
        }
    }
    
    @-webkit-keyframes selectedRock {
        0% {}
        100% {
            right: 70%;
            bottom: 100%;
            -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
        }
    }
    
    @keyframes selectedRock {
        0% {}
        100% {
            right: 70%;
            bottom: 100%;
            -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
        }
    }
}

.selected-paper-animation {
    -webkit-animation: selectedPaper 1s forwards;
            animation: selectedPaper 1s forwards;
}
.selected-scissors-animation {
    -webkit-animation: selectedScissors 1s forwards;
            animation: selectedScissors 1s forwards;
}
.selected-rock-animation {
    -webkit-animation: selectedRock 1s forwards;
            animation: selectedRock 1s forwards;
}
.reverse-paper-animation {
    -webkit-animation: reversePaper 1s forwards;
            animation: reversePaper 1s forwards;
}
.reverse-scissors-animation {
    -webkit-animation: reverseScissors 1s forwards;
            animation: reverseScissors 1s forwards;
}
.reverse-rock-animation {
    -webkit-animation: reverseRock 1s forwards;
            animation: reverseRock 1s forwards;
}

@-webkit-keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
    -webkit-animation: fade-out 1s forwards;
            animation: fade-out 1s forwards;
}
.fade-in {
    -webkit-animation: fade-in 1s forwards;
            animation: fade-in 1s forwards;
}

.expanded-container {
    width: 400px !important;
}